In [1]:
import numpy as np
import pandas as pd
from sklearn.utils import shuffle

# Data sequence processing

### Read raw data (The original data sequence is recorded according to the time sequence of aircraft flight)

In [9]:
data=pd.read_table('P127.dat',sep=' ', encoding='utf-8',header=None)

data_mean_std=data[0:2]
data=data[2:]
data.reset_index(drop=True, inplace=True)

JD=pd.read_table('P127_JD.dat',sep=' ', encoding='utf-8',header=None)

### Change the order of data

In [10]:
data_JD=pd.concat([data, JD],axis=1)

In [11]:
data_JD_changed = shuffle(data_JD) 
data_JD_changed.reset_index(drop=True, inplace=True)
data_JD_changed

,0,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,39,0,1,2
0,-1.319885,-1.821914,-1.621966,1.688363,-0.575096,-0.861663,1.752967,-0.036667,1.907503,0.324298,...,-1.792197,1.548378,-1.202558,1.908477,-2.015930,0.749717,NaN,20.0,102.0,NaN
1,0.515026,1.344025,0.502985,-0.345024,0.087231,1.645674,0.333125,0.033265,-1.221830,-0.707790,...,0.055390,1.071678,-1.313531,-0.593790,0.899850,0.025674,NaN,7.0,9.0,NaN
2,-0.045562,0.062573,0.925558,-0.478484,-0.144965,-1.214408,-1.065942,-0.006833,-0.419622,0.533235,...,1.099686,-1.144259,1.035794,-0.399911,0.268233,-1.041152,NaN,11.0,13.0,NaN
3,-0.799460,-0.615842,0.004248,1.720790,0.306345,-0.872429,1.435039,0.981397,2.138318,-1.114329,...,-1.510591,1.212140,-1.146214,2.212127,-2.301117,-1.032859,NaN,18.0,34.0,NaN
4,0.505834,0.967127,0.358256,-0.289169,-0.473006,1.159452,0.281898,-0.439417,-0.311216,0.349697,...,-0.795518,1.176328,-1.714432,0.082265,0.022616,-0.184791,NaN,7.0,9.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17793,1.175333,0.514850,0.067154,-0.666367,0.606004,0.979766,-0.503583,-0.673601,-0.362872,-0.271057,...,0.297646,-0.629563,0.479527,-0.956412,1.070933,0.950389,NaN,4.0,101.0,NaN
17794,-0.758831,-0.389704,0.234255,2.487457,0.055145,-0.933655,2.064029,0.039574,2.126965,-2.357954,...,-1.622991,1.347765,-0.832067,1.727149,-1.580153,-0.926307,NaN,18.0,34.0,NaN
17795,1.920356,-1.068119,-1.617456,-0.536035,-1.549269,0.766901,-0.297276,0.888168,0.151911,-0.028793,...,0.340107,0.283912,0.602402,-1.053610,1.335593,2.055784,NaN,0.0,101.0,NaN
17796,1.158567,0.665609,0.077662,-0.527238,0.920086,1.244514,-0.100882,-0.487482,-0.901429,-0.011297,...,0.189154,0.151165,0.012794,-0.796534,1.087761,0.880844,NaN,4.0,101.0,NaN
17797,-2.259660,-3.329503,-2.906176,1.462109,-0.787719,-2.349315,-0.282738,1.385391,-0.758814,0.300152,...,0.166305,-0.195167,0.450091,1.114428,-1.585197,2.612346,NaN,22.0,101.0,NaN

In [12]:
new_data=data_JD_changed.iloc[:, 0:40]
new_data=pd.concat([data_mean_std, new_data],axis=0)
new_data

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,24247.823049,-999.218301,7159.698065,-992.293484,-999.753875,-982.776742,-998.224712,-1000.008722,-999.768494,-996.861645,...,-1001.462439,-1003.360753,-1004.503010,-1002.674398,-997.056027,-1005.182953,-1000.470413,-998.363126,-1007.349860,NaN
1,580.846593,-999.867338,1660.781423,-997.167693,-999.680027,-996.104215,-999.313717,-999.990180,-999.864875,-994.009149,...,-997.238962,-999.120397,-998.660203,-999.103444,-998.793297,-997.978145,-998.605419,-998.254087,-998.835160,NaN
0,-1.319885,-1.821914,-1.621966,1.688363,-0.575096,-0.861663,1.752967,-0.036667,1.907503,0.324298,...,-0.249143,-1.196081,-1.537807,-1.792197,1.548378,-1.202558,1.908477,-2.015930,0.749717,NaN
1,0.515026,1.344025,0.502985,-0.345024,0.087231,1.645674,0.333125,0.033265,-1.221830,-0.707790,...,0.391099,-0.655078,-0.205250,0.055390,1.071678,-1.313531,-0.593790,0.899850,0.025674,NaN
2,-0.045562,0.062573,0.925558,-0.478484,-0.144965,-1.214408,-1.065942,-0.006833,-0.419622,0.533235,...,0.414303,0.995004,1.168338,1.099686,-1.144259,1.035794,-0.399911,0.268233,-1.041152,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17793,1.175333,0.514850,0.067154,-0.666367,0.606004,0.979766,-0.503583,-0.673601,-0.362872,-0.271057,...,0.445808,0.281780,0.117252,0.297646,-0.629563,0.479527,-0.956412,1.070933,0.950389,NaN
17794,-0.758831,-0.389704,0.234255,2.487457,0.055145,-0.933655,2.064029,0.039574,2.126965,-2.357954,...,-0.477586,-1.809010,-1.699518,-1.622991,1.347765,-0.832067,1.727149,-1.580153,-0.926307,NaN
17795,1.920356,-1.068119,-1.617456,-0.536035,-1.549269,0.766901,-0.297276,0.888168,0.151911,-0.028793,...,0.372730,0.352483,0.263321,0.340107,0.283912,0.602402,-1.053610,1.335593,2.055784,NaN
17796,1.158567,0.665609,0.077662,-0.527238,0.920086,1.244514,-0.100882,-0.487482,-0.901429,-0.011297,...,0.478428,-0.075013,-0.114573,0.189154,0.151165,0.012794,-0.796534,1.087761,0.880844,NaN
17797,-2.259660,-3.329503,-2.906176,1.462109,-0.787719,-2.349315,-0.282738,1.385391,-0.758814,0.300152,...,0.454195,0.576069,0.308713,0.166305,-0.195167,0.450091,1.114428,-1.585197,2.612346,NaN

In [13]:
new_data.to_csv('changed/P127.dat',sep=' ', encoding='utf-8',index=False,header=None)

In [14]:
new_JD=data_JD_changed.iloc[:, 40:]
new_JD

          0      1   2
0      20.0  102.0 NaN
1       7.0    9.0 NaN
2      11.0   13.0 NaN
3      18.0   34.0 NaN
4       7.0    9.0 NaN
...     ...    ...  ..
17793   4.0  101.0 NaN
17794  18.0   34.0 NaN
17795   0.0  101.0 NaN
17796   4.0  101.0 NaN
17797  22.0  101.0 NaN

[17798 rows x 3 columns]

In [15]:
new_JD.to_csv('changed/P127_JD.dat',sep=' ', encoding='utf-8',index=False,header=None)